.App {
  text-align: center;
}

.game-info {
  margin-bottom: 20px;
}

.game-board {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.letter-box {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  background-color: black;
  color: white;
}

input {
  margin-bottom: 10px;
}

button {
  display: block;
  margin: 0 auto;
}